PORT=8000
MONGODB_URI="your-mongodb-connection-string-here"
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET="your-access-token-secret-here"
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET="your-refresh-token-secret-here"
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME="your-cloudinary-cloud-name-here"
CLOUDINARY_API_KEY="your-cloudinary-api-key-here"
CLOUDINARY_API_SECRET="your-cloudinary-api-secret-here"